<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\Ledajans.Server.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <!-- Natro Plesk: asagidaki degerleri doldurun -->
          <environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=SUNUCU;Database=VERITABANI;User Id=KULLANICI;Password=SIFRE;TrustServerCertificate=True;MultipleActiveResultSets=true" />
          <environmentVariable name="Jwt__Key" value="BURAYA_EN_AZ_32_KARAKTER_GUVENLI_ANAHTAR" />
          <environmentVariable name="Seed__AdminPassword" value="GUVENLI_ADMIN_SIFRESI" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
